datasets
.venv
.vscode
lightning_logs
__pycache__
mlruns
mlartifacts
src/models/ConvAE/checkpoints
src/models/ResNet/checkpoints
src/models/ResNetLSTM/checkpoints
src/models/LargerConvAE/checkpoints
src/models/FineGrained/checkpoints
src/models/GANomaly/checkpoints
Day-Night-Classifier/
v2e